body {
	color: #444;
	font-family: 'Rubik',sans-serif;
	font-size: 14px;
	margin: 0;
	outline: 0;
	overflow-x: hidden;
}

a {
    font-family: 'Rubik',sans-serif;
    color: rgb(0,61,167);
}

h2 {
    font-family: 'Rubik',sans-serif;
    font-size: 26px;
    font-weight: normal;
    text-align: left;
    color: #555555;
}