body {
	padding-top: 0!important;
}

body.path-my-grandski.logged_in:not(.path-checkout).node--type-pagina-libre .container-gv,
.container-gv {
	padding: 0!important;
	max-width: 100%!important;
}
