.title-container {
	padding-left: 25px;
    padding-right: 25px;
}

.title-container .radial-progress-bar {
	display: inline-block;
}

.title-container h1 {
	display: inline-block;
    margin-left: 15px;
    font-size: 24px;
    text-transform: none;
}

.title-container h1:after {
	display: none;
}

.image-preview {
	border-radius: 5px;
}

textarea.hidden {
	display: none !important;
}

.image-preview-container {
	position: relative;
	display: inline-block;
	margin-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

.edit-image-btn {
	position: absolute;
	top: -15px;
	right: -15px;
	background-color: #0079C0;
	border: 2px solid white;
	border-radius: 100%;
	padding: 5px;
	cursor: pointer;
}

.edit-image-btn img {
	width: 22px;
	height: 22px;
}

.form-control-separator {
	color: white;
	text-align: center;
	display: block;
	margin-top: 25px;
	margin-bottom: 25px;
}

.form-control.filepicker-start {
	background-color: transparent;
	border: none;
	text-align: center;
}

.filepicker-start {
	text-align: center;
}

#input-image-filepicker {
}

.form-item-image, .form-item-image-base64 {
	padding: 0;
	border: none !important;
}

#edit-actions #edit-submit {
	float: right;
}

#download-photo {
	display: none !important;
}

fieldset.form-group {
	border: none !important;
}

#gv-fplus-auth-personal-data-form {
	padding-top: 25px;
	padding-bottom: 35px;
}

.webcam-overlay-cancel {
	text-align: center;
	margin-top: 25px;
}

.webcam-overlay-cancel a {
	color: white;
	font-size: 18px;
	text-decoration: underline;
}

.webcam-overlay-cancel a:hover {
	color: white;
}

#validate-photo img,
#finish-crop img {
	background-color: green;
    border-radius: 100%;
}

#exit-app img {
	background-color: red;
    border-radius: 100%;
}

.panel.warning.image-expired {
	padding-top: 10px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-left: 30px;
}

#gv-fplus-auth-personal-data-form .js-form-item-integrant-email.form-item-integrant-email,
#gv-fplus-auth-personal-data-form #integrant-email-notice-container {
	display: none;
}

body.path-checkout.checkout-without-sidebar form#gv-fplus-auth-personal-data-form fieldset.form-item-phone-number {
	padding-top: 8px;
}

/* RG: Unificación pasos */
#edit-actions {
	margin-top: 50px;
	width: 100%;
	margin-left: 20px;
	margin-right: 20px;
}

#edit-submit {
	float: right;
}

fieldset.form-group {
	border: none!important;
}

.description.error {
	color: #E63946!important;
}
.description.success {
	color: green!important;
}

.form-item-full-phone-number {
	display: none;
}

.title-container {
	padding-left: 25px;
	padding-right: 25px;
}
.title-container .radial-progress-bar {
	display: inline-block;
}
.title-container h1 {
	display: inline-block;
	margin-left: 15px;
	font-size: 24px;
	text-transform: none;
}
.title-container h1:after {
	display: none;
}

.js-form-item-newsletter {
	margin-top: 15px;
}

.js-form-item-newsletter,
.js-form-item-legal-consent {
	margin-left: 8px;
	margin-right: 8px;
}

input#edit-phone-number::placeholder,
input#edit-phone-number::-webkit-input-placeholder,
input#edit-phone-number::-moz-placeholder,
input#edit-phone-number::-ms-input-placeholder {
	color: lightgray;
}

fieldset.form-item-dni-expired-date {
	margin-top: 32px !important;
}

#edit-base-address {
	width: 100%;
}

.country-select-wrapper, .spaced-wrapper > fieldset {
	margin-top: 32px !important;
}

.btnb-custom-control input {
	display: none;
}
.btnb-custom-control-label {
	position: relative;
	margin-bottom: 0;
	vertical-align: top;
	padding: 10px 0 10px 30px;
}
.btnb-custom-control-label-before {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: "";
	background-color: #fff;
	border: #adb5bd solid 1px;
	border-radius: 100px;
	transform: translateY(-50%);
}
.btnb-custom-control-label-after {
	position: absolute;
	top: 50%;
	left: 0;
	display: block;
	width: 1rem;
	height: 1rem;
	content: "" !important;
	background: no-repeat 50% / 50% 50%;
	background-color: transparent;
	transform: translateY(-50%) scale(0.7);
	border-radius: 100px;
	transition: all .4s ease;
}
.btnb-custom-control-label.checked .btnb-custom-control-label-after {
	background-color: #45B9DD !important;
}

#edit-gender .bg-auxiliar {
	width: 100% !important;
}

.form-item-census-number {
	max-width: unset !important;
}
.description {
	font-size: 13px !important;
}

.btnb-no-transform {
	width: 100% !important;
	transform: translateX(0) !important;
}
.btnb-hide-element {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	height: 0;
	width: 0;
}

#gv-fplus-auth-personal-data-form .js-form-item-integrant-email.form-item-integrant-email, #gv-fplus-auth-personal-data-form #integrant-email-notice-container {
	display: block !important;
}
body.path-checkout.checkout-without-sidebar form#gv-fplus-auth-personal-data-form .form-item-integrant-email input,
.path-my-grandski:not(.path-checkout).profile-aux .block > .content > .container form#gv-fplus-auth-personal-data-form .form-item-integrant-email input {
	max-width: unset !important;
}
#integrant-email-notice-container .panel-heading p:last-child {
	font-size: 14px !important;
}
#integrant-email-notice-container {
	padding-right: 30px;
}

.btnb-top-border > fieldset::before {
	content: '';
	width: calc(100% - 30px);
	position: absolute;
	background-color: #E1E4EB;
	height: 2px;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
}

#gv-fplus-auth-personal-data-form {
	overflow-x: hidden !important;
}

.panel.warning.image-expired {
	margin-right: 30px;
}
#edit-phone-number::placeholder,
#edit-phone-number::-webkit-input-placeholder,
#edit-phone-number::-ms-input-placeholder {
	color: grey !important;
}
.documents-info-warning {
	margin: 10px 30px 30px !important;
	font-size: 14px;
	padding: 10px !important;
	display: flex;
	align-items: flex-start;
}

.documents-info-warning span.documents-info-icon svg path {
	fill: #D8A13D !important;
}

.documents-info-icon {
	margin-right: 7px;
	display: flex;
	margin-top: 3px;
}
/* Fin RG */