<div class="my-grandski-error-page my-grandski-error-access-denied">
	<div class="container">
		<div class="icon-container">
			<svg width="121" height="120" viewBox="0 0 121 120" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" clip-rule="evenodd" d="M103.825 26.8049H17.1746C12.3138 26.814 8.37812 30.7496 8.37361 35.6059V107.449C8.37812 112.31 12.3138 116.245 17.1746 116.25H103.825C108.682 116.245 112.617 112.31 112.626 107.449V35.6059C112.617 30.7496 108.682 26.8139 103.825 26.8049ZM17.175 32.582H103.825C105.491 32.5865 106.845 33.9405 106.849 35.6059V47.5574H14.1511V35.6059C14.1511 33.9405 15.5051 32.5865 17.175 32.582ZM103.825 110.473H17.1746C15.5047 110.473 14.1506 109.118 14.1506 107.449V53.334H106.849V107.449C106.844 109.118 105.49 110.473 103.825 110.473ZM24.6709 40.4261C24.6709 43.6395 19.8551 43.6395 19.8551 40.4261C19.8551 37.2127 24.6709 37.2127 24.6709 40.4261ZM33.8377 40.4261C33.8377 43.6395 29.0219 43.6395 29.0219 40.4261C29.0219 37.2127 33.8377 37.2127 33.8377 40.4261ZM43.0218 40.4261C43.0218 43.6395 38.2016 43.6395 38.2016 40.4261C38.2016 37.2127 43.0218 37.2127 43.0218 40.4261ZM73.419 65.7965C74.1862 65.7965 74.9219 66.0989 75.4635 66.645H75.4637C76.0052 67.182 76.3076 67.9177 76.3076 68.685C76.3076 69.4522 76.0052 70.1879 75.4637 70.725L64.5865 81.6066L75.4637 92.4837C76.5875 93.612 76.5875 95.4399 75.4591 96.5683C74.3353 97.6966 72.5029 97.6966 71.3745 96.5683L60.4974 85.6912L49.6203 96.5683C48.4919 97.6966 46.6595 97.6966 45.5357 96.5683C44.9896 96.0267 44.6872 95.2955 44.6872 94.5283C44.6872 93.7611 44.9896 93.0254 45.5357 92.4838V92.4793L56.4128 81.6022L45.5357 70.7251C44.4074 69.6012 44.4074 67.7688 45.5357 66.6405C46.6596 65.5167 48.492 65.5167 49.6203 66.645H49.6248L60.5019 77.5221L71.3791 66.645C71.9206 66.0989 72.6519 65.7965 73.419 65.7965Z" fill="#348BA6"/>
				<ellipse opacity="0.15" cx="61.4657" cy="51.1699" rx="47.4199" ry="47.4199" fill="#45B9DD"/>
			</svg>
		</div>
		<h1 class="page-title">{{'Access denied'|t}}</h1>
		<div class="error-description">
			<p>{{'We are sorry, but you don\'t have permission to access this page'|t}}</p>
		</div>
		<div class="content actions">
			<a href="{{url('<front>')}}" class="btn btn-highlighted">{{'Back to home'|t}}</a>
		</div>
	</div>
</div>
